
  <div class="row">
    <div class="col-lg-12 headline">
      SYDNEY - taking the revolution to Twitter
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Sign in goes here
    </div>
    <div class="col-lg-4">
      Sign up goes here
    </div>
    <div class="col-lg-4">
      Link to "about" page
    </div>
  </div>
