
  <div class="row">
    <div class="col-lg-12">
      <h1>SYDNEY - taking the revolution to Twitter</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Sign in goes here
    </div>
    <div class="col-lg-4">
      Sign up goes here
    </div>
    <div class="col-lg-4">
      Link to "about" page
    </div>
  </div>
