/* old colors (sizes are still OK) */

$bblue1: #0076d7;
$bblue_light: #80ccff;
$bblue2: #0066ba;

$navbar-color: #005686;
$border-color: #e0e0e0;
$liked-color: #2a6496;
$bg-color: #f0f0f0;
$light-text-color: #808080;
$default-font-size: 1.5rem;
$small-font-size: 1.25rem;

/* new colors */

$green20: #006600;
$green25: #008000;
$green30: #009900;
$green35: #00b300;
$green40: #00cc00;
$green45: #00e600;